* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image:
        linear-gradient(45deg, rgba(197, 197, 197, 0.1)80%, rgba(255, 0, 0, 0.5)80%),
        linear-gradient(85deg, rgba(197, 197, 197, 0.1)80%, rgba(0, 255, 255, 0.5)80%),
        linear-gradient(125deg, rgba(197, 197, 197, 0.1)80%, rgba(255, 0, 0, 0.5)80%),
        linear-gradient(165deg, rgba(197, 197, 197, 0.1)80%, rgba(0, 255, 255, 0.5)80%),
        linear-gradient(205deg, rgba(197, 197, 197, 0.1)80%, rgba(255, 0, 0, 0.5)80%),
        linear-gradient(245deg, rgba(197, 197, 197, 0.1)80%, rgba(0, 255, 255, 0.5)80%),
        linear-gradient(315deg, rgba(197, 197, 197, 0.1)80%, rgba(255, 0, 0, 0.5)80%),
        linear-gradient(275deg, rgba(197, 197, 197, 0.1)80%, rgba(0, 255, 255, 0.5)80%),
        linear-gradient(235deg, rgba(197, 197, 197, 0.1)80%, rgba(255, 0, 0, 0.5)80%),
        linear-gradient(195deg, rgba(197, 197, 197, 0.1)80%, rgba(0, 255, 255, 0.5)80%),
        linear-gradient(155deg, rgba(197, 197, 197, 0.1)80%, rgba(255, 0, 0, 0.5)80%),
        linear-gradient(115deg, rgba(197, 197, 197, 0.1)80%, rgba(0, 255, 255, 0.5)80%);
    margin: 0;
    font-family: "Lexend Exa";
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

h2 {
    font-size: 1.8rem;
}

.h2 {
    font-size: 1.8rem;
    font-size: .5rem;
    margin: -.94rem 0 -2rem -1.5rem;
}




.header-cards {
    display: flex;
    flex-direction: row;
}

.header-card a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.header-card {
    background-color: rgb(69, 109, 109);
    font-size: .8rem;
    font-variant: small-caps;
    text-decoration: none;
    height: 3.5rem;
    width: 10rem;
    /* padding: 10px; */
    margin: 0 1.5rem 0 1.5rem;
    background-image:
        linear-gradient(315deg, rgba(69, 109, 109, 1)95%, rgba(255, 0, 0, 1)95%);
}

.navigation-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 60px 10px 60px;
    background-color: #1f1a35f0;
    gap: 30px;
}


.navigation-row button {
    max-width: 100rem;
    max-height: 4rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #25233d;
    text-align: center;
    letter-spacing: 0.3em;
    justify-content: center;
    flex-direction: column;
    border: none;
    font-size: .85rem;
    font-variant: small-caps;
    border: 1px solid white;
    padding: 8px 60px 8px 60px;
    cursor: pointer;

}


#grid {
    /* size: 100%; */
    height: 700px;
    /* width: 90vw; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    gap: 40px;
    padding: 40px;
}

.collections-grid {
    /* size: 100%; */
    /* height: 700px; */
    /* width: 90vw; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    padding: 40px;
}

#archeology-display {
    /* display: none; */
}

#anthropology-display {
    display: none;
}

#histories-display {
    display: none;
}

#header-main {
    font-size: 1.7rem;
    font-weight: 600;
    word-spacing: .5em;
    letter-spacing: 0.15em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    height: 9rem;
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.411); */
    background-image:
        linear-gradient(85deg, rgba(68, 62, 151, 0.11)33%, rgba(0, 7, 38, 0.76)33%),
        linear-gradient(185deg, rgb(64, 62, 90)33%, rgb(7, 0, 28)33%);
}

.row {
    padding: 20px 80px 20px 20px;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: justify;
    position: relative;
}

.row:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/black-marble.png");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) invert(1);
    z-index: -1;
}

.inset-border {
    border-bottom: 1px solid rgb(177, 177, 177);
    border-left: 6px solid rgb(194, 194, 194);
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
}

#top-row {
    grid-column: 1/4;
    text-align: center;
}

.mid-row-stripe {
    grid-row: 1/2;
    color: white;
    background-color: rgb(0, 0, 0);
    background-size: 100%;
    padding: 20px;
    align-items: center;
    display: flex;
    border-left: 6px solid rgb(238, 238, 238);
    position: relative;
    z-index: 0;
}

.mid-row-stripe::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/black-marble.png");
    background-size: cover;
    background-position: center;
    filter: opacity(.2);
    z-index: -1;
}

.mid-row-body {
    grid-row: 2/3;
    border-left: 6px solid rgb(51, 51, 51);
    padding: 20px 80px 40px 20px;
    line-height: 1.8rem;

}

#mid-left {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 25% 75%;
    padding: 0;
}

#mid-mid {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 25% 75%;
    padding: 0;

}

#mid-right {
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 25% 75%;
    padding: 0;
}




/* COLLECTIONS STYLES */
.archeology-header,
.anthropology-header,
.histories-header {
    font-variant: small-caps;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 10px;
}

.archeology-header::before,
.anthropology-header::before,
.histories-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/black-marble.png");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) invert(1);
    z-index: -1;
}

.archeology-header::after,
.anthropology-header::after,
.histories-header::after {
    height: 90%;
    width: 98%;
    content: "";
    position: absolute;
    pointer-events: none;
    border-left: 4px solid rgb(200, 200, 200);
    border-bottom: 2px solid rgb(200, 200, 200);
}

.collection-row {
    position: relative;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    column-gap: 2rem;
}

.collection-row::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/black-marble.png");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) invert(1);
    z-index: -1;
}

.collection-column1 {
    position: relative;
    height: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    background-image: url("../images/black-marble.png");
    z-index: 0;
}

.column-1-row-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.95);
}

.column-1-row-1 h2 {
    color: white;
    font-size: 1.5rem;
}

.column-2-row-2 {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.collection-column1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* white overlay with 50% opacity */
    pointer-events: none;
    z-index: -1;
}



.collection-column1 img {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 350px;
    height: 350px;

}

.collection-vignette {
    position: relative;
    max-height: 350px;
}

.collection-vignette::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 1), transparent 2%),
        linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent 2%),
        linear-gradient(to left, rgba(0, 0, 0, 1), transparent 2%),
        linear-gradient(to right, rgba(0, 0, 0, 1), transparent 2%);
    pointer-events: none;
}

.collection-column2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-left: 2px solid gray;
}

.collection-column3 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer {
    max-height: 250px;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: rgb(44, 44, 44);
    grid-column: 1/4;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer p {
    text-align: center;
}





/* SOUVENIR SHOP STYLES */

.shop-header {
    font-size: 1.7rem;
    font-weight: 600;
    word-spacing: .5em;
    letter-spacing: 0.15em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    height: 9rem;
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.411); */
    background-image:
        linear-gradient(85deg, rgba(68, 62, 151, 0.11)33%, rgba(0, 7, 38, 0.76)33%),
        linear-gradient(185deg, rgb(64, 62, 90)33%, rgb(7, 0, 28)33%);
}


.shop-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 2rem 10rem 30rem 10rem;
}

.souvenir-item {
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid #222;
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    gap: 2rem;
    justify-content: space-evenly;
}

.souvenir-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/black-marble.png");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) invert(1) opacity(1);
    z-index: -1;
}

.souvenir-item * {
    margin: 0;
}

.item-row-3 {
    justify-content: center;
    align-items: center;
}

.item-row-1,
.item-row-2,
.item-row-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item-row-1:not(:last-child),
.item-row-2:not(:last-child) {
    /* margin-bottom: 0.5rem; */
    /* small, even spacing between rows */
}

.souvenir-item img {
    width: 250px;
    height: 250px;
    margin: 0;
    align-self: center;
}

.souvenir-item button {
    width: 80%;
    padding: 8px;
    font-weight: bold;
    background-color: #30336b;
    color: white;
    border: none;
    cursor: pointer;
}

.souvenir-item button:hover {
    background-color: #130f40;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    width: 60%;
    height: auto;
    border-radius: 8px;
    max-width: 450px;
}

.modal-content img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.close-modal {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    color: #444;
}